.ny-times-container {
    margin: 10px;

}

.ny-header {
    background: linear-gradient(to right, #33ccff 0%, #66ff99 100%);
    margin: 10px;
   
}

p {
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

#test{
height: 600px;
overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 1px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25); 
  
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
    cursor: grab;
  }